<div class="view-background" [ngClass]="{login: formActivated === login, 'log-up': formActivated === logUp}">
    <div class="row justify-content-center pt-3" *ngIf="formActivated !== logUp">
        <img class="logo" src="../../../assets/images/true%20words.png">
    </div>
    <div class="row justify-content-center pt-3" [ngClass]="{'pt-5': logUpSize !== 'xl'}">
        <div class="col-2 pr-0">
            <button type="button" class="btn btn-lg btn-block login-primary btn-login"
                    [ngClass]="{'active':formActivated === login}" (click)="onChangeFormActive(login)">
                <strong>INICIAR SESIÓN</strong></button>
        </div>
        <div class="col-2 pl-0">
            <button type="button" class="btn btn-lg btn-block login-primary btn-login"
                    [ngClass]="{'active':formActivated === logUp}" (click)="onChangeFormActive(logUp)">
                <strong>REGISTRATE</strong>
            </button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div [ngSwitch]="formActivated" class="col-4">
            <div *ngSwitchCase="login">
                <app-login (attemptLogin)="onAttemptLogin($event)" [loading]="loading"></app-login>
            </div>
            <div *ngSwitchCase="logUp">
                <app-log-up (size)="logUpSize = $event" (attemptLogUp)="onAttemptLogUp($event)"></app-log-up>
            </div>
        </div>
    </div>
</div>
