body {
  opacity: 1 !important;
}

.view-background {
  background: no-repeat center center fixed;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  height: 100vh;
  width: 100vw;
  background-size: cover !important;
}

.login {
  $bg_image: '../../../assets/images/login.jpg';
  background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url($bg_image);
}

.log-up {
  $bg_image: '../../../assets/images/log-up.jpg';
  background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url($bg_image);
}
