<div class="table-responsive">
  <table class="table">
    <thead class="bg-gradient-success text-white">
    <tr>
      <th scope="col">IMAGEN</th>
      <th scope="col">URL</th>
      <th scope="col">SITIO</th>
      <th scope="col">ESTATUS</th>
      <th scope="col">CONFIANZA</th>
    </tr>
    </thead>
    <tbody *ngFor="let item of data?.data?.fullMatchingImages" [app-file-row]="item">
    </tbody>
    <tbody>
    <tr class="bg-gradient-success text-white text-center">
      <td colspan="5" *ngIf="data?.data?.partialMatchingImages">
        <strong>Coincidencias Parciales</strong>
      </td>
    </tr>
    </tbody>
    <tbody *ngFor="let item of data?.data?.partialMatchingImages" [app-file-row]="item">
    </tbody>
  </table>
</div>
