<app-layout [username]="user?.displayName" [email]="user?.email" context="self" [templateOutlet]="board"
            [selectedScreen]="view" (logout)="onLogout()"></app-layout>
<ng-template #board>
  <div [ngSwitch]="view">
    <div *ngSwitchCase="verifyToken">
      <app-verify-token-view></app-verify-token-view>
    </div>
  </div>
</ng-template>
