<div class="app-log-up">
  <div class="row justify-content-center">
    <form [formGroup]="form">
      <div class="input-group mb-3 mt-3">
        <div class="input-group-prepend pt-1">
          <fa-icon [icon]="user" [fixedWidth]="true" class="align-middle" size="2x"></fa-icon>
        </div>
        <input type="text" class="form-control" placeholder="Nombre" autocomplete="name"
               formControlName="name">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend pt-1">
          <fa-icon [icon]="user" [fixedWidth]="true" class="align-middle" size="2x"></fa-icon>
        </div>
        <input type="text" class="form-control" placeholder="Apellido" autocomplete="family-name"
               formControlName="firstLastName">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend pt-1">
          <fa-icon [icon]="user" [fixedWidth]="true" class="align-middle" size="2x"></fa-icon>
        </div>
        <input type="text" class="form-control" placeholder="Apellido Materno" autocomplete="aditional-name"
               formControlName="secondLastName">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend pt-1">
          <fa-icon [icon]="user" [fixedWidth]="true" class="align-middle" size="2x"></fa-icon>
        </div>
        <input type="text" class="form-control" placeholder="Usuario" aria-describedby="username"
               formControlName="username">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend pt-1">
          <fa-icon [icon]="email" [fixedWidth]="true" class="align-middle" size="2x"></fa-icon>
        </div>
        <input type="email" class="form-control" placeholder="Email" autocomplete="email"
               formControlName="email">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend pt-1">
          <fa-icon [icon]="password" [fixedWidth]="true" class="align-middle" size="2x"></fa-icon>
        </div>
        <input type="password" class="form-control" placeholder="Password" autocomplete="current-password"
               formControlName="password">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend pt-1">
          <fa-icon [icon]="password" [fixedWidth]="true" class="align-middle" size="2x"></fa-icon>
        </div>
        <input type="password" class="form-control" placeholder="Confirm Password" autocomplete="current-password"
               formControlName="confirmPassword">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend pt-1">
          <fa-icon [icon]="company" [fixedWidth]="true" class="align-middle" size="2x"></fa-icon>
        </div>
        <input type="text" class="form-control" placeholder="Compañia" aria-describedby="company"
               formControlName="company">
      </div>
      <div class="input-group mb-3" *ngIf="enableToken">
        <div class="input-group-prepend pt-1">
          <fa-icon [icon]="token" [fixedWidth]="true" class="align-middle" size="2x"></fa-icon>
        </div>
        <input type="text" class="form-control" placeholder="Token Personalizado" aria-describedby="token"
               formControlName="token">
      </div>
      <div class="row text-white text-center align-content-end">
        <div class="col-10">
          <!--app-p-checkbox text="Quiero recibir noticias" formControlName="subscribeToNews"></app-p-checkbox-->
        </div>
        <div class="col-1" *ngIf="!enableToken">
          <a class="badge badge-pill badge-login" (click)="onClickEnableTokenInput()"><strong>...</strong></a>
        </div>
      </div>
      <div class="mb-4 mt-3">
        <button class="btn btn-block btn-lg login-success btn-login" (click)="onAttemptLogUp()"
                [disabled]="loading || form.status !== 'VALID'">
          <strong *ngIf="!loading">CREAR TU CUENTA</strong>
          <fa-icon [icon]="loadingIcon" *ngIf="loading" [spin]="true"></fa-icon>
        </button>
      </div>
    </form>
  </div>
</div>
