<div class="justify-content-center d-flex mt-4">
  <app-file-chooser-drag-n-drop [accept]="['png','jpg', 'jpeg']" [loading]="loading"
                                (chooseFile)="onChooseFile($event)"></app-file-chooser-drag-n-drop>
</div>
<app-file-carousel [images]="images" (deleteFile)="onDelete($event)" [selected]="selectedImageIndex"
                   (selectedFile)="onChooseImage($event)"></app-file-carousel>
<div class="justify-content-center d-flex">
  <div class="vw-80">
    <app-file-table [data]="selectedImage"></app-file-table>
  </div>
</div>

<div appCanvas></div>
