<div class="app-login">
  <div class="row justify-content-center">
    <img src="../../../assets/images/profile-picture.png" class="profile-picture">
  </div>
  <div class="row justify-content-center">
    <form [formGroup]="form">
      <div class="input-group mb-3">
        <div class="input-group-prepend pt-1">
          <fa-icon [icon]="user" [fixedWidth]="true" class="align-middle" size="2x"></fa-icon>
        </div>
        <input type="text" class="form-control" placeholder="Email" autocomplete="email"
               formControlName="email">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend pt-1">
          <fa-icon [icon]="password" [fixedWidth]="true" class="align-middle" size="2x"></fa-icon>
        </div>
        <input type="password" class="form-control" placeholder="Password" autocomplete="password"
               formControlName="password">
      </div>
      <div class="row text-white text-center">
        <!--div class="col-4">
          <app-p-checkbox text="Recuerdame" formControlName="rememberMe"></app-p-checkbox>
        </div-->
        <!--div class="col"-->
        <a>
          <small>¿Has olvidado la contraseña?</small>
        </a>
        <!--/div-->
      </div>
      <div class="mb-5 mt-3">
        <button class="btn btn-block btn-lg login-success btn-login" (click)="onAttemptLogin()"
                [disabled]="loading || form.status !== 'VALID'">
          <strong *ngIf="!loading">INICIAR SESIÓN</strong>
          <fa-icon [icon]="loadingIcon" *ngIf="loading" [spin]="true"></fa-icon>
        </button>
      </div>
    </form>
  </div>
</div>
