<div class="app-carousel-item d-inline-block h-100" #card (click)="onClick()">
  <div class="border-dashed" [ngClass]="{active: selected == index}">
    <button type="button" class="close" aria-label="Close" (click)="onDelete()">
      <span aria-hidden="true">&times;</span>
    </button>
    <img class="img-fluid logo xl" [ngClass]="{active: selected == index}" [src]="image?.image | domSanitizer" appLoad
         (loadSource)="onLoad()" (errorLoadingSource)="onError()">
  </div>
</div>
