:host > div.drop-file {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: #f2f2f2;
  color: #0087f7;
  color: #0087f796;
  &.active {
    border: 2px solid #0087F7;
    color: #0087f7;
  }
  &.error {
    border: 2px solid #f70400;
    color: #f70400;
  }
  &.loading {
    border: 2px solid #25f717;
    color: #25f717;
  }
}

.drop-file-container {
  width: 70vw;
  height: 40vh;
}
