<app-intrusive-loading></app-intrusive-loading>
<div class="header">
  <div class="row bg-gradient-primary text-white">
    <div class="col">
      <img class="logo sm" src="../../../assets/images/true%20words%20white.png">
    </div>
    <div class="col-1">
      <fa-layers class="fa-fw center">
        <!--fa-icon [icon]="circle" size="4x"></fa-icon-->
        <fa-icon [icon]="instagram" size="2x"></fa-icon>
      </fa-layers>
    </div>
    <div class="col-1">
      <fa-layers class="fa-fw center">
        <!--fa-icon [icon]="circle" size="4x"></fa-icon-->
        <fa-icon [icon]="facebook" size="2x"></fa-icon>
      </fa-layers>
    </div>
    <div class="col-1">
      <fa-layers class="fa-fw center">
        <!--fa-icon [icon]="circle" size="4x"></fa-icon-->
        <fa-icon [icon]="twitter" size="2x"></fa-icon>
      </fa-layers>
    </div>
  </div>
  <div class="row bg-gradient-success text-white">
    <div class="col">
      <button class="btn btn-block btn-lg login-success btn-login"
              [ngClass]="{active: selectedScreen === 'verify-token'}"><strong>VERIFICAR</strong> FOTO
      </button>
    </div>
    <div class="col">
      <button class="btn btn-block btn-lg login-success btn-login"><strong>VERIFICAR</strong> TEXTO</button>
    </div>
    <div class="col">
      <button class="btn btn-block btn-lg login-success btn-login"><strong>PUBLICAR</strong></button>
    </div>
    <div class="col">
      <div class="row">
        <div class="col col-0-5">
          <img src="../../../assets/images/profile-picture.png" class="profile-picture sm">
        </div>
        <div class="col pt-2">
          <strong class="font-size-20" *ngIf="username">{{username}} </strong>
          <strong class="font-size-20" *ngIf="!username && email">{{email.split('@')[0] | slice:0:12}} </strong>
          <div ngbDropdown class="d-inline-block has-action" placement="bottom-right">
            <fa-icon [icon]="dots" size="2x" ngbDropdownToggle></fa-icon>
            <div ngbDropdownMenu class="shadow-lg p-3 mb-5 bg-white rounded">
              <div class="dropdown-item profile">
                <div class="row">
                  <div class="col col-0-5">
                    <img src="../../../assets/images/profile-picture.png"
                         class="profile-picture sm">
                  </div>
                  <div class="col">
                    <strong class="font-size-20">{{username}}</strong><br>{{email}}
                  </div>
                </div>
              </div>
              <hr>
              <button class="dropdown-item" (click)="onLogout()">
                <div class="row align-content-between">
                  <div class="col">
                    <strong>CERRAR</strong> SESIÓN
                  </div>
                  <div class="col-1">
                    <fa-icon [icon]="powerOff"></fa-icon>
                  </div>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <ng-container *ngTemplateOutlet="templateOutlet; context: context"></ng-container>
</div>
