.header {
  width: 100vw;
  position: fixed;
  background-color: white;
  z-index: 100;
}

.center {
  position: relative;
  top: 40%;
}

.col-0-5 {
  flex: 0 0;
}

.has-action {
  cursor: pointer;
}

.profile {
  width: 342px !important;
}

.content {
  padding-top: 158px;
}
