<div class="loading" (click)="onClick()" *ngIf="loading" [appIntrusiveLoading]="loading">
  <fa-icon [icon]="spinner" size="10x" [fixedWidth]="true" [styles]="{position: 'absolute',
                 top: 'calc(30% - 24px)', left: 'calc(40% - 24px)'}" [spin]="true"></fa-icon>
</div>
